body{

    font: 16px Arial, helvetica, sans-serif;
}

#tabelanav{
    color:#4b566a;
    background: #c5c5b2;
    padding: 18px;
}
#texto{
    width: 880px;
    background: #e8e8d9;
    padding: 10px;
    color:black;
}
 a{
     color:#4b566a;
     text-decoration: none;
    font-weight: bold;
    padding: 5px;
 }
.centralizar{
    text-align: center;
}
#principal{
    width: 900px;

}
#sobre{
color:black;
}
h1{
    color:#828271;
    font-size:1.2em;
}
.imagemtexto{
    border: 10px solid #c3c3ae;
}